.partners-logo
    width: 10%
    mix-blend-mode: multiply

.partners-logo-footer
    width: 7%
    height: intrinsic
    mix-blend-mode: multiply


.logos-footer
    margin-left: 20vw

.open-call-img
    height: 80vh

.opencall-left
    position: -webkit-sticky
    position: sticky
    top: 20vh

@media only screen and (min-width: 1024px) 
    .w-xl-50
        width: 50%

    .about-left
        width: 57%
        margin-right: 3rem

    .about-right
        padding-right: 18vw


    .esfera-about-right
        width: 20%
        float: right
        z-index: 2
        position: absolute
        right: 12vw

    .overflow-scroll
        overflow: scroll !important
        height: 80vh