---
layout: fuso
---
{% assign this_session = site.fuso_programs | where:'title', page.sessao | first %}
<div class="mx-4 mb-3">
    <div class="h-100 me-3">
        <div class="position-relative">
            <img src="{{site.baseurl}}/{{page.imagem}}" alt="imagem-evento" class="w-100 h-100 object-fit-cover mb-3 max-height-60">
            <p class="position-absolute bottom-0 left-0 text-white px-2 py-1">© Joan Jonas</p>
        </div>
        <div class="d-flex">
            <h5 class="me-4">
                <span class="text-uppercase">{{page.title }}</span><br>
                {{page.artista}}
            </h5>
            <div class="me-4 text-smaller">
                {{ this_session.data }} Agosto<br>
                às {{ page.hora }}
            </div>
            <div class="me-4 text-smaller">
                Local <br>
                {{ this_session.local }}
            </div>
            <div class="me-4 text-smaller">
                Curadoria <u>{{ this_session.curadoria }}</u><br>
                Sessão <u>{{page.sessao}}</u>
            </div>
            <div class="ms-auto w-50 text-smaller">
                {{page.sinopse}}
            </div>
        </div>
    </div>
</div>
<div class="border border-top border-black"></div>
<h5 class="text-center mt-3 mb-4">ON THIS SESSION</h5>
<div class="d-flex mx-2 mb-5">
    {% assign session = site.fuso_programs | where:'title', page.sessao %}
    {% assign these_events = site.fuso_eventos | where:'sessao', session %}
    {% for evento in these_events  %}
        {% if evento.title != page.title %}
        <div class="border border-red w-50 mx-2">
            <a href="{{evento.url}}"><img src="{{site.baseurl}}/{{evento.imagem}}" alt="imagem-evento" class="w-100 h-100 object-fit-cover saturate"></a>
            <div class="d-flex mt-2">
                <h5 class="text-uppercase me-5">{{ evento.title }}</h5>
                <h5>{{ evento.artista }}</h5>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>